---
export interface Props {
	title: string
	description: string
	pubDate: Date
	url: string
}

const { title, description, pubDate, url } = Astro.props as Props

// hack to get the date in the right timezone (well, with some extra margin)
pubDate.setTime(pubDate.getTime() + 4 * 60 * 60 * 1000)

const strDate = pubDate.toISOString().slice(0,10)
const [year, month, day] = strDate.split('-')
---

<article class="post-preview">
	<div class="publication-date">
		<time datetime={strDate}><b class="year">{year}</b><br/>{month}&#47;{day}</time>
	</div>
	<div class="post-preview-text">
		<header>
			<h2><a href={url}>{title}</a></h2>
		</header>
		<p>{description}</p>
	</div>
</article>
