---
import BaseHead from "../components/BaseHead.astro";
import MainFooter from "../components/MainFooter.astro";
import MainHeader from "../components/MainHeader.astro";
import { PostPage } from "../utils";
import PostsList from "./PostsList.astro";

export interface Props {
	title?: string
	metaTitle?: string
	page: PostPage
}

const { page, title, metaTitle } = Astro.props as Props

const headTitle = metaTitle ?? `Coder Spirit :: ${title}` ?? "Coder Spirit";
const description = "Geeky Computer Science stuff.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">

<head>
	<BaseHead title={headTitle} description={description} canonical={canonicalURL} />
</head>

<body>
	<MainHeader />
	<PostsList title={title} posts={page.data} />
	<MainFooter page={page} />
</body>

</html>
